:root {
    --theme-color: #4999D5;
    --color-2: #374151;
    --white-color: #fff;
}

body {
    font-family: "Inter", sans-serif;
}
section {
    padding: 4rem 0 !important;
}
.swiper-container {
    width: 100%; /* Kapsayıcıyı taşmasını önleyecek şekilde sınırlayın */
    overflow: hidden; /* Yatay taşmayı engelle */
  }
  
  .swiper-wrapper {
    display: flex;
  }
  
  .swiper-slide {
    flex-shrink: 0; /* Slaytların küçülmesini engelle */
  }
  
.nav-li {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-2);
}
.header-btn {
    padding: 8px 12px;
    font-size: 16px;
    margin-left: 1rem;
    font-weight: 500;
    background-color: var(--theme-color);
    color: white;
    border-radius: 8px;
}
.service {
    background-color: #F3F4F6 !important;
    position: relative;
    border-top-left-radius: 42%;
    border-top-right-radius: 42%;
}


.service::after {
    content: '';
    z-index: 1;
    top: 0;
    position: absolute;
    clip-path: polygon(48% 23%, 0 0, 100% 0);
}
.service-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem 0;
}
.service-box span {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
}
.service-box-img {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 1rem;
}
.demand {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0; /* Başlangıçta görünmez */
    transition: opacity 0.5s ease-in-out;
    z-index: 99;
}
.demand.visible {
    opacity: 1; /* Görünür olduğunda */
}
.demand-btn {
    top: 1px;
    transform: rotate(270deg);
    background-color: red;
    padding: 1rem 2rem;
    right: -57px;
    color: white;
}
.section.brand-section {
    overflow: hidden;
}

.smarter {
    margin-left: 4rem;
}
.smarter h4 {
    padding: 2rem 0;
}


.banner-bg {
    background-image: url(https://martexreact.jthemes.net/_next/static/media/bg-04.4423825d.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

